<%= simple_form_for [ @presenter.encounter, @presenter.event, @presenter.option ] do |f| %>
  <%= f.input :text  %>
  <%= f.input :order %>

  <div class="pull-right">
    <%= link_to "Cancel",
      encounter_path(@presenter.encounter),
      class: "btn btn-default" %>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
<% end %>
