<%= simple_form_for [@presenter.encounter, @presenter.event] do |f| %>
  <%= f.input :description, as: :text, input_html: { rows: 5 } %>

  <div class="pull-right">
    <%= link_to "Cancel",
      encounter_path(@presenter.encounter),
      class: "btn btn-default" %>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
<% end %>
