@import 'variables';

.encounter__category {
  font-size: 20px;
  color: $grey;
}

.encounter__description {
  font-size: 16px;
  line-height: 24px;
  padding-right: 200px;
}

/* Adapted from http://thecodeplayer.com/walkthrough/css3-family-tree */

.encounter__events ul {
  padding-top: 20px;
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.encounter__events li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 0 0 0px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.encounter__tree_node {
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 12px;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.encounter__tree_node a {
  text-decoration: none;
}

/*We will use ::before and ::after to draw the connectors*/

.encounter__events li::before, .encounter__events li::after{
  content: '';
  position: absolute; top: 0; right: 50%;
  border-top: 1px solid #ccc;
  width: 50%; height: 20px;
}

.encounter__events li::after {
  right: auto; left: 50%;
  border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.encounter__events li:only-child::after, .encounter__events li:only-child::before {
  display: none;
}

/*Remove space from the top of single children*/
.encounter__events li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.encounter__events li:first-child::before, .encounter__events li:last-child::after {
  border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/
.encounter__events li:last-child::before {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}

.encounter__events li:first-child::after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.encounter__events ul ul::before {
  content: '';
  position: absolute; top: 0; left: 50%;
  border-left: 1px solid #ccc;
  width: 0; height: 20px;
}
